<section>
    <nav>
        <img src="assets/image/dog.jpg" alt="Profile" id="profile" title="profile">
       <div id="main_div">
        <input type="text" id="search" placeholder="Search" >
        <a ><img src="assets/favicon.ico" id="search_icon" alt="icon"></a>
        </div>
    
    </nav>
    <hr id="line">
    <div id="content">
    <div  id="sidebar">
        <a (click)="fetchNotes()" id="side">All Notes</a><br>
        <a (click)="trash()" id="side">Trash</a><br>
        <a href="#" id="side">Lock</a><br>
        <a href="#" id="side">Archive</a><br>
       
    </div>
    <div id="vertical"></div>
    
    <div>
        <a (click)="note()" >
            <img src="assets/image/add.png" alt="add" id="add_img">
        </a>
    </div> 
    <div id="outer">
       
        <div *ngFor="let note of notes" id="note" >
            <div id="hover">
                <a><img src="assets/image/pin.png" alt="pin" (click)="pin(note.id)"></a>
                <a><img src="assets/image/archive.png" alt="archive"></a>
                <a><img src="assets/image/trash.png" alt="trash" ></a>
            </div>
            
               <p id="title">{{note.title}}</p> <br>
                <p id="desc"> {{note.description}}</p><br>
                <p id="created">created: {{note.created_at}}</p>
        </div>
    
    </div>

</div>
</section>

