<div>
    <nav id="main">
        <div>
            <a (click)="allNote()">
                <img src="assets/image/arrow_back.png" alt="back">
            </a>
        </div>
        
    </nav>
    <div>
        <div id="main_div">
        
            
           <form [formGroup]="dataForm" >
           
            <button id="save" type="button" (click)="details()">Save</button>
            <input type="text" placeholder="Title..." id="title" formControlName="title" ><br>
            <input type="text" placeholder="Category...." id="categories" formControlName="categories" ><br>
            <textarea placeholder="Description..." id="desc" formControlName="description" ></textarea>
            
            
            
           </form>
        </div>

    </div>
</div>
